<div class="signup-container">
    <h2>Sign up</h2>

    <form (submit)="onSignup()">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required="required" [(ngModel)]="signupData.email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required="required" [(ngModel)]="signupData.password">
        </div>
        <div>
            <label for="profilename">Password:</label>
            <input type="profilename" id="profilename" name="profilename" required="required" [(ngModel)]="signupData.password">
        </div>

        <button type="submit">Sign up</button>

    </form>

    <p class="success" *ngIf='successMessage'>{{successMessage}}</p>
    <p class="error" *ngIf='errorMessage'>{{errorMessage}}</p>
    
    <p>Already have an account?? <a routerLink="/login">Sign up here!</a></p>
</div>